<h1 style="font-size: 20px;">Repost</h1>
<hr>

Original post:<br>
<?php
$this->Putter->putPost($post, $this->getRequest()->getSession()->read('Auth.User.follows'));
echo $this->Form->create();
echo $this->Form->submit('Confirm repost');
echo $this->Form->end();
?>